base/services/WebContent/livraisons.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:liv="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="livraisons"
	targetNamespace="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/">
			<xsd:element name="commande">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="vin" type="liv:vinT" maxOccurs="unbounded"
							minOccurs="1">

						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="vinT">
				<xsd:sequence>
					<xsd:element name="reference" type="xsd:string"></xsd:element>
					<xsd:element name="quantite" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="confirmation" type="xsd:string"></xsd:element>
			<xsd:element name="infos">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string">
						</xsd:element>
						<xsd:element name="prix" type="xsd:double">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nondisponible" type="xsd:string"></xsd:element>
			<xsd:element name="dateLivraison" type="xsd:date"></xsd:element>

			<xsd:element name="commandeInconnue" type="xsd:string"></xsd:element>
			<xsd:element name="livraisonEffectuee" type="xsd:string" />
			<xsd:element name="livraisonEffectueeResponse" type="xsd:boolean" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="commandeRequest">
		<wsdl:part name="parameters" element="liv:commande"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="commandeResponse">
		<wsdl:part name="parameters" element="liv:infos"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="nonDisponibleFault">
		<wsdl:part name="fault" element="liv:nondisponible"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="confirmationRequest">
		<wsdl:part name="parameters" element="liv:confirmation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="confirmationResponse">
		<wsdl:part name="parameters" element="liv:dateLivraison"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="commandeInconnueFault">
		<wsdl:part name="fault" element="liv:commandeInconnue"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="livraisonEffectueeRequest">
		<wsdl:part name="parameters" element="liv:livraisonEffectuee"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="livraisonEffectueeResponse">
		<wsdl:part name="parameters" element="liv:livraisonEffectueeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LivraisonPortType">
		<wsdl:operation name="commande">
			<wsdl:input message="liv:commandeRequest"></wsdl:input>
			<wsdl:output message="liv:commandeResponse"></wsdl:output>
			<wsdl:fault name="fault" message="liv:nonDisponibleFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="confirmation">
			<wsdl:input message="liv:confirmationRequest"></wsdl:input>
			<wsdl:output message="liv:confirmationResponse"></wsdl:output>
			<wsdl:fault name="fault" message="liv:nonDisponibleFault"></wsdl:fault>
			<wsdl:fault name="fault1" message="liv:commandeInconnueFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="livraisonEffectuee">
			<wsdl:input message="liv:livraisonEffectueeRequest"></wsdl:input>
			<wsdl:output message="liv:livraisonEffectueeResponse"></wsdl:output>
			<wsdl:fault name="fault" message="liv:commandeInconnueFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LivraisonSOAPBinding"
		type="liv:LivraisonPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="commande">
			<soap:operation
				soapAction="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/commande" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="confirmation">
			<soap:operation
				soapAction="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/confirmation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
			<wsdl:fault name="fault1">
				<soap:fault use="literal" name="fault1" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="livraisonEffectuee">
			<soap:operation
				soapAction="http://www.univ-lyon1.fr/M2TI/TIW5/wine/service/livraisons/livraisonEffectuee" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LivraisonServiceService">
		<wsdl:port name="LivraisonServicePort" binding="liv:LivraisonSOAPBinding">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
